.about_wrapper {
    margin-top: 1rem;
    padding: 2.5rem 0;
    background-color: #0A101E;
}

.about_container {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.fadded_text_container {
    position: relative;
    text-align: center;
    border: none;
}



.info_container {
    padding-top: 30px;
    display: flex;
    align-items: top;
    gap: 30px;
}

.info_img img {
    background-color: #0F1523;
    height: 600px;
    border: 2px solid #0a101e;
    border-radius: 12px;
}

.information_box {
    text-align: left;
    line-height: 1.6;
    width: 100%;
    padding:0 1rem;
}

.infor_heding h2{
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
    font-weight: 500;
}

.position p{
    color: #F3C13A;
    font-size: 1.25rem; 
    font-weight: 400;
    padding-bottom: 0.75rem;
}

.about_ifo p{
    padding-bottom: 1rem;
    font-size: 1rem;
    opacity: 0.8;
}

.some_inf{
    padding-top: 1rem;
    line-height: 2;
    padding-bottom: 1rem;
}

.btn button{
    border: none;
    outline: none;
    background-color:#F3C13A;
    color: black;
    transition: all 0.5s;
}

.btn:hover button{
    box-shadow: 0 5px 8px #F3C13A;
}

@media screen and (max-width:768px) {
    .info_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}