.shop_card {
    background-color: rgb(202, 247, 247);
    position: relative;
}

/* shop.jsx */

.shop_card_main_container {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    align-items: start;
    gap: 30px;
}

.heading {
    max-width: 10%;
    width: 100%;
    border-bottom: 2px solid rgb(120, 104, 104);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    letter-spacing: 1px;
}

.heading h2 {
    color: rgb(97, 65, 65);
    font-size: 1.5rem;
    font-weight: 700;
}


.footerSection {
    max-width: 1280px;
    margin: 0 auto;
}

/* cards.jsx */

.shop_card_wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* card.jsx */

.shoping_card {
    padding: 1rem;
    width: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 6px;
    transform: scale(0.95);
    position: relative;
}


.product_img img {
    height: 360px;
    width: 280px;
    filter: grayscale(80%);
    transition: filter 0.5s ease;
    border-radius: 12px;
}

.product_img:hover img {
    filter: grayscale(0);
}


.product_title {
    padding: 0.25rem;
    color: rgba(23, 4, 22, 0.822);
    gap: 6px;
}

.product_title h2 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.product_card {
    padding: 0.5rem 1rem;
    background-color: rgb(20, 9, 1);
    border: 1px solid rgb(237, 169, 169);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 12px;
    align-items: center;
    color: white;
}

.shoping_card:hover {
    transform: scale(1);
}

.viewBtn {
    position: absolute;
    bottom: 75px;
    left: 20px;
}



.viewDetail {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}


.modal_wrapper{
    position: absolute;
    top: -11rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content{
    background: white;
    width: 680px;
    max-width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cross_btn {
    background-color: rgb(200, 163, 118);
    width: 6%;
    position: absolute;
    top: 0;   
    right: 0;  
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal_main_content{
    display: flex;
    padding: 1rem;
}

.main_content img{
    height: 380px;
    
}