.resume_wrapper {
    background-color: #070D1B;
    margin-top: 3rem;
    padding: 2.5rem 0;
}

.resume_container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.resume_content_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.education_container {
    max-width: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experiences_container {
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heaading {
    display: flex;
    align-items: center;
    gap: 20px;
}

.heaading img {
    height: 25px;
}

.timeline {
    position: relative;
    padding-left: 30px;
    border-left: 2px dashed #555;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.timeline-dot {
    width: 15px;
    height: 15px;
    background-color: #555;
    border-radius: 50%;
    position: absolute;
    left: -39px;
    top: 0px;
    transition: all 0.5s;
}

.timeline-item:hover .timeline-dot{
    background-color: #F3C13A;
}

.timeline-item h2{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0 0 0.5rem 0; 
    color: #F3C13A;
    letter-spacing: 1px;
}

.timeline-item p {
    font-size: 0.95rem;
    line-height: 1.6;
    font-weight: 400;
}

.deatail {
    line-height: 1.6;
}

#name{
    font-weight: 700;
    color: white;
    font-size: 1.15rem;
    padding-top: 1rem 0;
}


@media screen and (max-width:768px) {
    .resume_content_container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}