@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.nav_wrapper {
  background-color: rgb(202, 247, 247);
  padding: 1.5rem 3rem;
  border-bottom: 2px solid rgb(179, 151, 151);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  position: relative;
}

.nav_container {
  max-width: 1080px;
  margin: 0 auto;
}

.nav_contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.nav_contain li .nav_line {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
}

#login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-transform: capitalize;
  border-left: 2px solid rgb(94, 101, 101);
  padding-left: 2rem;
  padding-right: 2rem;
  border-right: 2px solid rgb(94, 101, 101);
}

.active {
  color: rgb(1, 1, 22);
}


.login_Wrapper {
  background-color: rgb(164, 231, 231);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: all 0.5s ease-in-out;
}

.login_container {
  max-width: 1080px;
  margin: 0 auto;
}

.login_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: beige;
  padding: 1.75rem 3rem;
  border: 2px solid rgba(149, 30, 153, 0.429);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin: 0 auto;
}


.login_content_right {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  gap: 20px;
  max-width: 45%;
  width: 100%;

}

.login_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 0.5rem;
}

.input label{
  font-size: 1rem;
  font-weight: 700;
}

.input input{
  outline: none;
  border: none;
  background-color: rgb(244, 233, 233);
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.5s;
}


.input:hover input{
  border: 2px solid #dc9f9f;
}


.heading_login{
  text-align: center;
}

.heading_login h2{
  font-size: 2.25rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.heading_login p{
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.forget_password{
  font-size: 0.85rem;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  padding-bottom: 0.5rem;
  text-decoration: none;
}

.sign_btn{
  padding: 0.5rem 1rem;
  background-color: rgb(176, 228, 228);
  border: none;
  border-radius: 6px;
  color:rgb(39, 1, 1);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;
}

.sign_btn:hover{
  background-color: rgb(255, 171, 171);
}

.or_btn{
  display: flex;
  align-items: center;
  gap: 10px;
}

.line{
  height: 0.75px;
  width: 45%;
  background-color: rgb(87, 70, 70);
}


.google{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google {
  font-size: 1rem;
  color: #eb73cfbb;
  align-content: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-decoration: none;
}

.google:hover{
  color: #270101;
}

.other_page{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding-top: 2px;
}

.other_page p{
  color: #270101;
  font-size: 1rem;
}

.other_page_to{
  text-decoration: none;
  font-size: 1rem;
  text-transform: capitalize;
}



.login_content_left{
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  gap: 20px;
  max-width: 45%;
  width: 100%;
  margin: 1rem;
}

.login_content_left img{
  height: 450px;
  width: 100%;
  border-radius: 8px;
  transform: scale(0.95);
  transform: all 0.5s;
}

.login_content_left:hover img{
  transform: scale(1);
}

.password{
  position: relative;
}

.password input{
  width: 100%;
}

.password span{
  position: absolute;
  top: 7.5px;
  right: 7.5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

.conf_password{
  padding-bottom: 1rem;
}

.sign_content_left img{
  height: 550px;
  width: 100%;
  border-radius: 8px;
}


/* footer section */

.footer_container{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  border-top: 2px solid rgb(180, 159, 159);
}

.footer_container p{
  font-size: 1rem;
  font-weight: 400;
}

.footer_icon{
  display: flex;
  gap: 2rem;
}

.foot_icon{
  font-weight: 700;
  color: #270101;
  font-size: 1.5rem;
  opacity: 0.7;
}


/* return - Policy */
.return_container{
  display: flex;
  line-height: 1.6;
  align-items: center;
  gap: 23px;
}

.return_right{
  max-width: 65%;
  width: 100%;
  border-right: 1px solid rgb(13, 27, 27);
  padding-right: 16px;
}


.return_heading{
  color: #633f3f;
  font-weight: 700;
  text-decoration: underline;
}


.return_left{
  width: 100%;
  max-width: 30%;
}

.form_data{
  display: flex;
  background-color: aquamarine;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.form_data  button{
  background-color: aquamarine;
  border: none;
  padding: 0.5rem 1rem;
  color: #633f3f;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transform: scale(0.9);
  transition: all 0.5s;
}

button:hover{
  transform: scale(1);
}

.form_data input{
  width: 100%;
  outline: none;
  border: none;
  background-color: aquamarine;
  color: rgb(134, 87, 87);

}