.contact_wrapper{
    background-color: #CAF7F7;
    width: 100vw;
}

.contact_tranner{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 1.5rem; 
    display: flex;
    flex-direction: column;
    gap: 60px; 
}

.contact_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.form_data_contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.first_Name{
    display: flex;
    align-items: center;
    gap: 40px;
}


.contact_int{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cont_input{
    width: 100%;
    padding: 0.5rem 0.85rem;
    border: none;
    outline: none;
    border-radius: 4px;
}

.cont_input:hover{
    border: 1px solid rgb(178, 239, 246);
}

.contact_heading{
    border: 2px dotted rgb(63, 2, 2);
    padding: 0.45rem 1.75rem;
    border-radius: 8px;
}

.contact_heading h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

#cont_txt{
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    font-style: normal;
}

.contact_btn{
    background-color:rgb(2, 43, 43);
    border: none;
    padding: 0.5rem;
    color: rgb(234, 226, 217);
    font-size: 1rem;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 8px;
    transition: all 0.5s;
    transform: scale(0.97);
}

.contact_btn:hover{
    background-color: rgb(31, 91, 121);
    transform: scale(1);

}