.textmonial_container {
    height: 100vh;
    width: 100vw;
    background-color: #B0B1BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textmonial_container .heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(1, 49, 49);
}

.line {
    background-color: rgb(229, 255, 0);
    height: 4px;
    width: 270px;
}

.textmonial_card {
    margin-top: 1rem;
    background-color: #0E89CB;
    padding: 0.75rem 1.5rem;
    border: 2px solid #eccc4c;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 1rem;
}

.btn_group{
    display: flex;
    align-items: center;
    gap: 40px;
}

.btn_group button{
    background-color: #0E89CB;
    border: none;
    font-size: 2rem;
    border-radius: 50%;
    color: rgb(110, 5, 123);
}

.rdm_btn button{
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    background-color: aqua;
}