.btn_readMore button {
    padding: 0.5rem 2rem;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #CB7958;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn_readMore button span {
    font-size: 1.75rem;
    font-weight: 700;
}

.btn_readMore:hover button {
    transform: translateX(10px);
}